trunk/cwm-xml/src/main/resources/dtbook-iss.dtd

<!-- CAST Extensions to DTBook DTD -->
<!-- Last modified: Boris Goldowsky, 3/9/2010 -->

<!ENTITY % dtbook PUBLIC "-//NISO//DTD dtbook 2005-3//EN" "http://www.daisy.org/z3986/2005/dtbook-2005-3.dtd">

<!-- Include MathML; see MathML-in-DAISY spec -->

<!ENTITY % MATHML.prefixed "INCLUDE">
<!ENTITY % MATHML.prefix "m">
<!ENTITY % mathml-charent.module "IGNORE" >
<!ENTITY % MATHML.Common.attrib "xlink:href CDATA #IMPLIED  xlink:type CDATA #IMPLIED  class CDATA #IMPLIED  style CDATA #IMPLIED  id ID #IMPLIED  xref IDREF #IMPLIED  other CDATA #IMPLIED  xmlns:dtbook CDATA #FIXED  'http://www.daisy.org/z3986/2005/dtbook/'  dtbook:smilref CDATA #IMPLIED">
<!ENTITY % mathML2 PUBLIC "-//W3C//DTD MathML 2.0//EN" "http://www.w3.org/Math/DTD/mathml2/mathml2.dtd">
%mathML2;

<!ENTITY % externalinline " | clozeword">
<!ENTITY % externalFlow " | m:math">
<!ENTITY % externalNamespaces "xmlns:m CDATA #FIXED  'http://www.w3.org/1998/Math/MathML'">

<!-- Extend block elements with responsegroup and object -->

<!ENTITY % externalblock " | responsegroup | object">


%dtbook;

<!-- Responsegroup: for noting where user responses are expected -->

<!ELEMENT responsegroup (prompt?,annotation?,(response*|select|select1|clozepassage))>
<!ATTLIST responsegroup id ID #IMPLIED>
<!ATTLIST responsegroup class CDATA #IMPLIED>
<!ATTLIST responsegroup title CDATA #IMPLIED>
<!ATTLIST responsegroup group CDATA #IMPLIED>

<!ELEMENT prompt (p|list|div|blockquote|poem|linegroup|table|line|prodnote)+>

<!ELEMENT clozepassage (%block;)*>

<!ELEMENT clozeword (#PCDATA)>
<!ATTLIST clozeword id ID #REQUIRED>
<!ATTLIST clozeword opts CDATA #REQUIRED>
<!ATTLIST clozeword type (target | glossary) #IMPLIED> <!-- Source of autogenerated clozeword -->

<!-- Coach, Highlighting, etc Annotations -->
<!ATTLIST annotation type (coach | highlight | annotation | page | sidebar | hotspot) #IMPLIED>
<!ATTLIST annotation top %Length; #IMPLIED>
<!ATTLIST annotation left %Length; #IMPLIED>
<!ATTLIST annotation width %Length; #IMPLIED>
<!ATTLIST annotation height %Length; #IMPLIED>
<!ATTLIST annotation imgSrc %URI; #IMPLIED>

<!ELEMENT response (templates?,fragments?)>
<!ATTLIST response type (text|image|audio|file) #REQUIRED>
<!ATTLIST response height CDATA #IMPLIED>
<!ATTLIST response width CDATA #IMPLIED>
<!ATTLIST response preferred (true|false) #IMPLIED>

<!ELEMENT templates (template+)>

<!ELEMENT template (#PCDATA)>

<!ELEMENT fragments (fragment+)>

<!ELEMENT fragment (#PCDATA)>

<!ELEMENT select (item+)>

<!ELEMENT select1 (item+)>

<!ATTLIST select1
	%attrs;
>

<!ELEMENT item (label, message?)>

<!ATTLIST item 
	%attrs;
	correct (true|false) #IMPLIED
>

<!ELEMENT label (%inline;)*>

<!ATTLIST label
	%attrs;
>	

<!ELEMENT message (#PCDATA|p|list|div|blockquote|poem|linegroup|table|line|prodnote)*>

<!ATTLIST message
	%attrs;
>

<!-- OBJECT element for inclusion of non-image resources:
     Java or Flash applets or audio files.
     Content of the element is to be used as a fallback if the browser
     cannot render the object.
     A caption can be provided to display below it.
-->
<!ELEMENT object (param*, caption?, (p|list|div|blockquote|poem|linegroup|table|line|prodnote)+)>
<!ATTLIST object id ID #IMPLIED>
<!ATTLIST object src CDATA #REQUIRED>
<!ATTLIST object type CDATA #IMPLIED>
<!ATTLIST object height CDATA #IMPLIED>
<!ATTLIST object width CDATA #IMPLIED>
<!ATTLIST object class CDATA #IMPLIED>

<!ELEMENT param EMPTY>
<!ATTLIST param name CDATA #REQUIRED>
<!ATTLIST param value CDATA #REQUIRED>

<!-- Extend Meta so it fits Dublin Core format -->
<!ATTLIST meta role CDATA #IMPLIED>
